<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<meta name="author" content="SemiColonWeb" />

  	<!-- Stylesheets
  	============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
  	<link rel="stylesheet" href="style.css" type="text/css" />
  	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
  	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
  	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
  	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
     <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">

  	<!-- Bootstrap Switch CSS -->
  	<link rel="stylesheet" href="/css/components/bs-switches.css" type="text/css" />

  	<!-- Radio Checkbox Plugin -->
  	<link rel="stylesheet" href="/css/components/radio-checkbox.css" type="text/css" />

    <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Document Title
	============================================= -->
	<title>Adoptions Made Easy!</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
  <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Child</a>
          </li>
          <li class="main-header__item">
            <a
              class="<%= path === '/admin/register' ? 'active' : '' %>"
              href="/admin/register"
              >Parent</a
            >
          </li>
              <li class="main-header__item">
            <a
              class="<%= path === '/main' ? 'active' : '' %>"
              href="/admin/register"
              >Stepper</a
            >
          </li>
        </ul>
      </nav>
    </header>
<div class="md-stepper-horizontal orange">
    <div class="md-step active done">
      <div class="md-step-circle"><span>1</span></div>
      <div class="md-step-title">ChilId <%= childid %></div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-stepper-horizontal orange">
    <div class="md-step active done">
      <div class="md-step-circle"><span>1</span></div>
      <div class="md-step-title">ParentId <%= parentid %></div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active editable">
      <div class="md-step-circle"><span>2</span></div>
      <div class="md-step-title">Adoption Begin</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
        <div class="card__actions">
            <button class="btn" onClick="AdoptionBegin()">Approve</button>
        </div>
    </div>
    <div class="md-step active">
      <div class="md-step-circle"><span>3</span></div>
      <div class="md-step-title">Agent A</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
      <div class="card__actions">
            <button class="btn" onClick="Agencyverification()">Approve</button>
        </div>
    </div>
    </div>
    <div class="md-step">
      <div class="md-step-circle"><span>4</span></div>
      <div class="md-step-title">Government A</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
            <div class="card__actions">
            <button class="btn" onClick="GovernmentA()">Approve</button>
        </div>
    </div>
       <div class="md-step">
      <div class="md-step-circle"><span>5</span></div>
      <div class="md-step-title">Government B</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
            <div class="card__actions">
            <button class="btn" onClick="GovernmentB()">Approve</button>
        </div>
       <div class="md-step">
      <div class="md-step-circle"><span>6</span></div>
      <div class="md-step-title">Agent B</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
            <div class="card__actions">
            <button class="btn" onClick="Agencyverification2()">Approve</button>
        </div>
    </div>
  </div>
</div>
</body>
</html>